.container {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    vertical-align: bottom;
}

.date-display {
    margin-left: 20px;
}