.container {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

table {
    border-collapse: collapse;
}
th {
    padding-bottom: 15px;
}

td {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    vertical-align: bottom;
}

.mounth {
    padding-bottom: 15px;
    font-weight: bold;
}

.date-display {
    margin-left: 20px;
}

.mounth-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;/*角丸*/
    background: black;/*背景色*/
    display: flex;
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
}

.mounth-number {
    color: white;
}